<h1 mat-dialog-title>{{data.set}} {{data.page}}</h1>
<div mat-dialog-content>
  <p>New Note</p>
  <mat-form-field>
    <mat-label>Word</mat-label>
    <input matInput [(ngModel)]="word">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Meaning</mat-label>
    <input matInput [(ngModel)]="meaning">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Comment</mat-label>
    <input matInput [(ngModel)]="comment">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button [mat-dialog-close]='{
      "word": word, 
      "meaning": meaning, 
      "comment": comment, 
      "examples": [],
      "practice": true,
      "pronounce": "",
      "recording": ""
    }' [disabled]="word==''" cdkFocusInitial>Ok</button>
</div>