<header>
    <nav class="navbar navbar-expand-lg navbar-dark  bg-dark">
      <a class="navbar-brand" href="#">Study Web</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['']">Home</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">My notes<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">My likes</a>
          </li>
        </ul>
        <form class="form-inline mt-2 mt-md-0" style="margin-right: 10px;">
          <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
          <button class="btn btn-link text-light my-2 my-sm-0" type="submit" ><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-search" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
    <path fill-rule="evenodd" d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z"/>
    <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"/>
  </svg>
  </button>
        </form>
      <button mat-raised-button color="accent" (click)="openQuickAddDialog()">Quick add</button>
      <a class="btn btn-outline-info" href="index.html">log out</a>
      </div>
    </nav>
  </header>
    <div class="d-flex align-items-center p-3 my-3 text-black bg-purple rounded shadow-sm">
      <h2 style="padding-right: 15px">My Notes</h2>
      <form class="form-inline mt-2 mt-md-0" style="margin-right: 10px;">
          <input class="form-control mr-sm-2" type="text" placeholder="Search in my notes" aria-label="Search">
          <button class="btn btn-link text-secondary my-2 my-sm-0" type="submit" ><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-search" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
    <path fill-rule="evenodd" d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z"/>
    <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"/>
  </svg>
  </button>
  <button mat-raised-button (click)="openPostSetDialog()">Add notebook</button>
        </form>
    </div>

    <mat-accordion class="example-headers-align" multi>
      <mat-expansion-panel *ngFor="let set of sets"
      (opened)="panelOpenState = true"
                           (closed)="panelOpenState = false" class="notebook-header">
        <mat-expansion-panel-header>
          <mat-panel-title class="font-weight-bolder">
            {{set.setname}}
          </mat-panel-title>
          <mat-panel-description id="notebook-description">
            {{set.description}}
          </mat-panel-description>
          <small class="tools-right">
          <mat-panel-description>
            updated at: {{set.updatedAt}}
          </mat-panel-description>
          </small>
          <p class="tools-right btn-group">
          <mat-panel-description>
            <button mat-raised-button class="btn btn-info btn-sm" [routerLink]="['/oneset', set._id]">View</button>
            <button mat-raised-button class="btn btn-info btn-sm" (click)="onSelectSet(set); openPostPageDialog()">Add Page</button>
            <button mat-raised-button class="btn btn-info btn-sm" (click)="deleteThisSet(set._id)">Delete</button>
          </mat-panel-description>
        </p>
        </mat-expansion-panel-header>
        <div *ngFor="let page of set.pages; index as i" >
          <p>
          <button mat-button class="page-bar" *ngIf="page.description==''" [routerLink]="['/onepage', set._id,i]">Page {{+i +1}}</button>
          <button mat-button class="page-bar" *ngIf="page.description!=''" [routerLink]="['/onepage', set._id,i]">Page {{+i +1}}: {{page.description}}</button>

          <span class="tools-right">
          <button mat-raised-button color="warn" (click)="onSelect(set, page); openPostNoteDialog()">Add note</button>
          <button mat-raised-button (click)="deleteThisPage(set._id, page._id)">Delete</button>
          </span>
          </p>

        </div>
      </mat-expansion-panel>
    </mat-accordion>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>