<header>
    <nav class="navbar navbar-expand-lg navbar-dark  bg-dark">
      <a class="navbar-brand" href="#">Study Web</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="afterlogin.html">Home</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">My notes<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">My likes</a>
          </li>
        </ul>
        <form class="form-inline mt-2 mt-md-0" style="margin-right: 10px;">
          <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
          <button class="btn btn-link text-light my-2 my-sm-0" type="submit" ><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-search" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
    <path fill-rule="evenodd" d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z"/>
    <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"/>
  </svg>
  </button>
        </form>
      <div class="dropdown" style="margin-right: 10px;">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Add note
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="addnew.html">create new note</a>
          <a class="dropdown-item" href="#">quick add</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </div>
      <a class="btn btn-outline-info" href="index.html">log out</a>
      </div>
    </nav>
  </header>
    <div class="d-flex align-items-center p-3 my-3 text-black bg-purple rounded shadow-sm">
      <h2 style="padding-right: 15px">My Notes</h2>
      <form class="form-inline mt-2 mt-md-0" style="margin-right: 10px;">
          <input class="form-control mr-sm-2" type="text" placeholder="Search in my notes" aria-label="Search">
          <button class="btn btn-link text-secondary my-2 my-sm-0" type="submit" ><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-search" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
    <path fill-rule="evenodd" d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z"/>
    <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"/>
  </svg>
  </button>
        </form>
    </div>
    <!-- <div class="my-3 p-3 bg-white rounded shadow-sm">
      <div class="border-bottom border-gray pb-2 mb-0">
        <p class="font-weight-bolder float-left">All note</p><p class="d-block text-right">
        <a href="addnew.html">Add new note</a>
      </p>
      </div>
      <div class="media text-muted pt-3 border-bottom border-gray">
        <svg class="bd-placeholder-img mr-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 32x32"><title>Placeholder</title><rect width="100%" height="100%" fill="#007bff"/><text x="50%" y="50%" fill="#007bff" dy=".3em">32x32</text></svg>
        <p class="media-body pb-3 mb-0 small lh-125">
          <strong class="d-block text-gray-dark">{{set.setname}}</strong>
          Introduction: {{set.description}}
          <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary"><a href="thisnotereview.html">Review</a></button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Practice</button>
                  </div>
                  <button type="button" class="btn btn-sm">
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-heart" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M8 2.748l-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
            </svg>
            <small class="text-muted">9</small>
            </button>
      </div>
    </div> -->
    <mat-accordion>

      <mat-expansion-panel *ngFor="let set of sets"
      (opened)="panelOpenState = true"
                           (closed)="panelOpenState = false" >
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{set.setname}}
          </mat-panel-title>
          <mat-panel-description>
            {{set.description}}
          </mat-panel-description>
          <mat-panel-description>
            updated at: {{set.updatedAt}}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p *ngFor="let page of set.pages">{{page.description}} 
          <button mat-raised-button (click)="onSelect(set, page); openDialog()">Pick one</button>
        </p>
      </mat-expansion-panel>
    </mat-accordion>
    
